<style>
    footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 0px;
    position: fixed;
    bottom: 0;
    width: 100% !important;
}
</style>
<footer>
    <p>&copy; <%= new Date().getFullYear() %> AnekSunaMoon. All Rights Reserved.</p>
</footer>