<header>
    <style>
        .headersvg{
            width: 150px !important;
            max-width: 150px !important;
        }
    </style>
<div class="vertical-nav bg-white" id="sidebar">
    <div class="py-4 px-3 mb-4" style="background: linear-gradient(to top, #0066eb 0%, #ff8ab3 68%);">
        <div class="media d-flex align-items-center"><img src="admin.svg" alt="..." width="65"
                class="mr-3 rounded-circle img-thumbnail shadow-sm">
            &emsp;<div class="media-body">
                <h4 class="m-0">
                    <p class="text-white"><shop-name>
                </h4>
                <p class="font-weight-light text-white mb-0">Hi, Admin</p>
                <p class="font-weight-light text-white mb-0">Ver: 1.0.3</p>
            </div>
        </div>
    </div>
    <form action="/logout?_method=DELETE" method="POST">
        <center><button type="submit" class="btn btn-danger">
                <p class="text-white">Log Out</p>
            </button></center>
    </form>
    <h5 class="ui horizontal divider header text-primary">
        MAIN
    </h5>

    <ul class="nav flex-column bg-white mb-0">
        <li class="nav-item">
            <a href="/" class="nav-link text-dark font-italic">
                <i class="home icon"></i>
                Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a href="/billing" class="nav-link text-dark font-italic">
                <p><i class="rupee sign icon"></i>
                    Bill
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/orders" class="nav-link text-dark font-italic">
                <i class="eye icon"></i>
                View Orders
            </a>
        </li>
        <li class="nav-item">
            <a href="/viewstocks" class="nav-link text-dark font-italic">
                <i class="tags icon"></i>
                View Stocks
            </a>
        </li>
        <li class="nav-item">
            <a href="/stocks" class="nav-link text-dark font-italic">
                <i class="plus circle icon"></i>
                Add Stock
            </a>
        </li>
    </ul>

    <h5 class="ui horizontal divider header text-primary">
        CUSTOMIZE
    </h5>

    <ul class="nav flex-column bg-white mb-0">
        <li class="nav-item">
            <a href="/brands" class="nav-link text-dark font-italic">
                <i class="yelp icon"></i>
                Brand
            </a>
        </li>
        <li class="nav-item">
            <a href="/categories" class="nav-link text-dark font-italic">
                <i class="bookmark icon"></i>
                Category
            </a>
        </li>
        <li class="nav-item">
            <a href="/viewbarcodepage" class="nav-link text-dark font-italic">
                <i class="check square icon"></i>
                BarCode Gen
            </a>
        </li>
    </ul>

    <h5 class="ui horizontal divider header text-primary">
        FILTERS
    </h5>

    <ul class="nav flex-column bg-white mb-0">
        <li class="nav-item">
            <a href="/sales_filter" class="nav-link text-dark font-italic">
                <i class="yelp icon"></i>
                Sales
            </a>
        </li>
        <li class="nav-item">
            <a href="/stock_filter" class="nav-link text-dark font-italic">
                <i class="bookmark icon"></i>
                Stock
            </a>
        </li>
    </ul>
</div>
</header>