<div class="modal fade" style="width: 1200px; font-size: 10px;" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" style="width: 850px;">
        <div class="modal-content" style="width: 850px;">
            <div class="modal-header" style="width: 850px;">
                <h5 class="modal-title" id="exampleModalLabel">Update Order by <%= user.user %></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="width: 850px;">
                <div class="mb-3">
                    <form action="/updateOrder" method="POST">
                        <table class="ui inverted pink celled table tbl_code_with_mark" id="orderTable">
                            <thead>
                                <tr style="background: linear-gradient(to left, #0066eb 0%, #ff8ab3 68%);">
                                    <th>Item No.</th>
                                    <th>Item ID</th>
                                    <th>Item Name</th>
                                    <th>Category</th>
                                    <th>Brand</th>
                                    <th>Quantity</th>
                                    <th>Per Price</th>
                                </tr>
                            </thead>
                            <tbody>
                               
                            </tbody>
                        </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" value="Hello">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
